
{% load static %}
{% block content %}
<style>
    .formInput {

        width: 50%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;

    }

    .button {
        width: 30%;
        background-color: #4CAF50;
        border-radius: 5px;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        margin-left: 12%;
    }

    .login-box {

        text-align: center;
        width: 60%;
        margin-left: 18%;
        margin-top: 2%;
    }


    .title {
        margin-left: 4%;
        font-size: 50px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .text {
        font-size: 25px;
    }

    .image {
      
        width: 26%;
        height: 31%;
        margin-left: 40%;
        background: url("https://cdn0.iconfinder.com/data/icons/seo-web-4-1/128/Vigor_User-Avatar-Profile-Photo-01-256.png");
        background-repeat: no-repeat;
        background-size: contain;
    }
    .account{
        margin-left: 11%;
    }
</style>

<div class="container login-box ">

    <form action="{% url 'login' %}" method="post" class="loginForm">
        {% csrf_token %}
        <div class="image"></div>
        <h1 class="title">LOGIN <i class="fab fa-500px"></i></h1>
        <input type="hidden" name="csrfmiddlewaretoken"
            value="OasFsr09efL9aVIprTQF6nqKezCmpTVoxC0BkwoafnyTJhcFizcIcPh9fISePNSq">
        <div class="row">
            <label for="id_username" class="text">Username: </label>
            <input class="formInput" type="text" name="username" autofocus="" autocapitalize="none"
                autocomplete="username" maxlength="150" required="" id="id_username">
        </div>
        <div class="row">
            <label for="id_password" class="text">Password: </label>
            <input class="formInput" type="password" name="password" autocomplete="current-password" required=""
                id="id_password">
        </div>
        <button class="button" type="submit" class="btn btn-primary" value="Log In">Giriş Yap</button>

        <h2 class="text account">Don't have an account?<a class="text" href="signup/"> Create an account</a></h2>
    </form>
</div>
{% endblock content %}